<h1> Welcome to JobWallet.org</h1>

<p> Welcome to the job wallet application. Have fun managing your company! </p>

<br>

<img src="assets/company.png" alt="Company" style="width:700px;height:350px;margin-top: 2cm;">